*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    width: 366px;
    height: 100vh;
    padding-top: 75px;
    float: left;

    background-color: rgb(220, 221, 221);
    
}
nav .container{
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
nav .container .logo{
    width: 150px;
    height: 150px;

    text-align: center;
    line-height: 150px;
    font-size: 50px;
    font-weight: bold;
    color: rgb(121, 7, 22);

    background-image: url(../img/cherry-blossom.png);
    background-position: center;
    background-size: cover;
}
nav .container .links{
    padding-top: 50px;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
nav .link{
    margin: 10px;

    font-size: 20px;

    background-color: blueviolet;
    border-radius: 5px;
}
nav .link:visited{
    background-color: aquamarine;
}
nav .link:hover{
    color: brown;
}
nav .link:active{
    background-color: blue;
}
main{
    width: calc(100% - 366px);
    height: 100vh;

    float: right;

    display: flex;
    justify-content: center;
    align-items: center;
}
main .container{
    width: 800px;
    height: 567px;
}
main .container div{
    width: 395px;
    height: 275px;

    text-align: center;
    line-height: 275px;
    font-size: 78px;

    background-color: rgb(181, 181, 182);
    background-position: center;
    background-size: cover;
}
main .container div:hover{
    color: rgb(207, 36, 36);

    filter: grayscale(20%);
    background-size: contain;
    background-repeat: no-repeat;
}
main .container .x{
    width: 800px;
    height: 285px;
    margin-bottom: 7px;

    line-height: 285px;
    
    background-image: url(../img/X.jpg);
}
main .container .y{
    float: left;
    
    background-image: url(../img/Y.jpg);
    background-color: rgb(201, 202, 202);
}
main .container .z{
    float: right;
    background-image: url(../img/Z.jpg);
}